# Core ML dependencies
scikit-learn
joblib
pandas
numpy

# Frontend (Streamlit)
streamlit

# Backend API (FastAPI)
fastapi
uvicorn

# Email
python-dotenv  # for managing environment variables
email-validator  # optional but good to validate email format

# Google Drive CSV download
gdown

# Visualization
matplotlib
seaborn

# HTTP request from Streamlit to FastAPI
requests

